/aclocal.m4
/autom4te.cache
/autoscan.log
/build
/build-aux
compile_commands.json
/config.h
/config.h.in
/config.log
/config.status
/configure
const_config_test.json
/debian/changelog
/dist
/fuzz_test/geopmhash_corpus.tar.gz
/fuzz_test/geopmhash_corpus
/fuzz_test/geopmhash_corpus/.dir
/geopmdpy.egg-info
/geopmdpy/geopm_service_pb2.py
/geopmdpy/geopm_service_pb2_grpc.py
/geopmdpy/schemas.py
/geopmdpy/version.py
/geopmdpy_test/pytest_links/
/geopmdrs/Cargo.lock
/geopmdrs/Cargo.toml
/geopmdrs/target/
/geopmdrs/vendor/
/geopmread
/geopm_service.egg-info
/geopm-service.spec
/geopm-service-*.tar.gz
/geopmwrite
/googletest-release-*/
/googletest-release-*.tar.gz
/install-sh
/integration/test/test_batch_interface
/integration/test/test_batch_perf
/integration/test/test_batch_server
/integration/test/test_invalid_values
/libgeopmd.la
/libgmock.a
/libgtest.a
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/README
/src/sysfs_attributes_*.cpp
/src/msr_data_*.cpp
/src/geopm_service.pb.cc
/src/geopm_service.pb.h
/src/geopm_service.grpc.pb.cc
/src/geopm_service.grpc.pb.h
/stamp-h1
/test/geopm_test
/test/gtest_links/
/test/isadmin
/VERSION
/*geopm*.ddeb
/*geopm*.deb
/geopm-service*.dsc
/geopm-service*.tar.gz
/geopm-service*.buildinfo
/geopm-service*.changes
/geopm_service.egg-info
/geopm-service.spec
/geopm-service-*.tar.gz
/geopm-service-*/
/geopmread
/geopmwrite
/googletest-release-*/
/googletest-release-*.tar.gz
/integration/test/test_batch_interface
/integration/test/test_batch_perf
/integration/test/test_batch_server
/integration/test/test_invalid_values
/libgmock.a
/libgtest.a
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/Makefile
/Makefile.in
src/msr_data_*.cpp
src/sysfs_attributes_*.cpp
/stamp-h1
/test/geopm_test
/test/isadmin
/test/*.log
/test/*.trs
/test-suite.log
/gen-src
